# Image processing
numpy==1.16.6
onepush
opencv-python
pillow
prettytable==2.2.1
psutil==5.9.3
pydantic
pypresence==4.2.1
pywebio==1.6.2
pyyaml
pyzmq==22.3.0
retrying
rich==11.2.0
scipy==1.4.1
pillow
opencv-python
imageio==2.27.0

# Device connection
adbutils==0.11.0
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1
wrapt==1.13.1
zerorpc==0.6.3
